@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
/* CSS RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.product-card {
  position: relative;
  width: 600px;
  height: 350px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  transition: 0.5s;

}
.product-card .card__circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.product-card .card__circle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #d83133;
  clip-path: circle(120px at center);
  transition: 0.5s;
}
.product-card:hover .card__circle:before {
  background: #0065c3;
  clip-path: circle(400px at center);
}
.product-card img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  pointer-events: none;
  transition: 0.5s;

}
.product-card:hover img {
  left: 72%;
  height: 500px;
}
.product-card .card__content {
  position: relative;
  left: 20%;
  width: 50%;
  padding: 20px 20px 20px 40px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
.product-card:hover .card__content {
  left: 0;
  opacity: 1;
  visibility: visible;

}
.product-card .card__content h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1em;
  margin-bottom: 5px;
}
.product-card .card__content p {
  color: #fff;
}
.product-card .card__content a {
  position: relative;
  padding: 10px 20px;
  border-radius: 10px;
  background: #fff;
  color: #111;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: 700px;
}

@media (max-width: 991px) {
  .product-card {
    width: auto;
    max-width: 350px;
    align-items: flex-start;
    margin: 10px;
  }
  .product-card:hover {
    height: 600px;
  }
  .product-card .card__content {
    width: 100%;
    left: 0;
    padding: 30px;
  }
  .product-card:hover img {
    top: 70%;
    left: 50%;
    height: 300px;
  }
}
@media (max-width: 420px) {
  .product-card .card__content {
    padding: 20px;
  }
}
